// Basic breakpoints
$bp580: 'screen and (min-width : 580px)';
$bp768: 'screen and (min-width : 768px)';
$bp960: 'screen and (min-width : 960px)';
$bp1024: 'screen and (min-width : 1024px)';

$bp579max: 'screen and (max-width : 579px)';
$bp767max: 'screen and (max-width : 767px)';
$bp959max: 'screen and (max-width : 959px)';
$bp1023max: 'screen and (max-width : 1023px)';
