#block-headerphones,
#block-languageswitcher {
  margin-top: -.5rem;
  padding-right: 1rem;

  @extend .pl-lg-0;
  @extend .position-relative;

  .wrapper {
    z-index: 500;
    right: 0;

    @extend .position-absolute;
    @extend .pt-3;
    @extend .pb-2;
    @extend .pl-3;
    @extend .pr-4;
    @extend .bg-white;
    @include hover {
      @extend .shadow-lg;
      &:after {
        transform: rotate(180deg);
      }
    }
    @include icoMoon('chevron-down', 'after');

    &:after {
      top: 1.15rem;
      right: .3rem;

      @extend .position-absolute;
    }
  }

  ul {
    @extend .d-none;
  }

  &:hover ul {
    right: 15px;

    @extend .d-block;
    @extend .p-0;
    @extend .m-0;
    @extend .pt-1;
    @extend .list-unstyled;
  }

  li {
    @extend .pt-1;
    @extend .pb-1;
  }

  a {
    color: $gray-600;

    @include hover {
      text-decoration: $link-hover-decoration;

      color: $link-hover-color;
    }
  }
}
