.header {
  @extend .bg-white;

  &-adv,
  &-primary {
    @extend .container;

    & > .content {
      @extend .row;
    }
  }

  &-adv,
  &-primary {
    @extend .d-lg-block;
    @extend .d-none;
  }

  &-primary {
    @extend .pb-2;
    @extend .pt-3;

    & > .content {
      @extend .col-lg-12;
      @extend .flex-row;
      @extend .justify-content-between;
      @extend .pr-0;
      @extend .pl-0;
    }
  }

  &-secondary {
    @extend .bg-dark;
    @extend .container-fluid;

    & > .content {
      @extend .container;
    }
  }
}

// Logo.
#block-shops-branding {

  h1 {
    @extend .h2;
  }

  a {
    letter-spacing: .2rem;

    color: $green;

    @extend .text-capitalize;
    @include hover {
      text-decoration: none;

      color: $green;
    }

    span {
      @extend .text-dark;
      @include icoMoon('weightlifting', 'after');

      &:after {
        display: inline-block;
      }
    }
  }
}

// Info menu.
#block-header-infomenu {
  @extend .ml-auto;

  ul {
    @extend .nav;
  }

  li {
    @extend .nav-item;

    a {
      color: $gray-700;

      @extend .nav-link;
      @include hover {
        text-decoration: $link-hover-decoration;

        color: $orange;
      }
    }

    &:first-child {
      a {
        color: $orange;

        font-weight: 600;
      }
    }
  }

  .is-active {
    @extend .active;
  }
}

// Phone numbers.
#block-headerphones {
  @extend .text-right;
  @extend .ml-auto;
  @extend .w-100;
  max-width: 143px;

  a {
    @extend .h6;
  }
}

// Switch language.
#block-languageswitcher {
  @extend .text-right;
  @extend .w-100;
  max-width: 84px;
}
