body {
  background-color: #FAFAFA;

  font-size: .875rem;
}

.dropdown {
  &-menu {
    @extend .pb-0;
    @extend .pt-0;
    @extend .shadow-sm;
    @extend .border-0;
  }
  &-item {
    @extend .pb-2;
    @extend .pt-2;
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;

  background: rgba($black,.54);
}

#block-shops-local-tasks {
  @extend .pt-2;
  @extend .pb-2;

  ul {
    @extend .nav;
    @extend .nav-tabs;
  }

  li {
    @extend .nav-item;

    a {
      @extend .nav-link;
    }
  }

  .is-active {
    @extend .active;
  }
}
