body {
  margin: 1em;

  color: black;
  background-color: #FFF;

  font-family: sans-serif;
}

table {
  width: 960px;
}

th {
  text-align: left; /* LTR */

  color: #006;
  border-bottom: 1px solid #CCC;
}
tr.odd {
  background-color: #DDD;
}
tr.even {
  background-color: #FFF;
}
td {
  padding: 5px;
}
#menu {
  visibility: hidden;
}
#main {
  margin: 1em;
}
a:link {
  color: #000;
}
a:visited {
  color: #000;
}
a:hover {
  color: #00F;
}
a:link img,
a:visited img {
  border: 0;
}

[dir='rtl'] body {
  direction: rtl;
}
th {
  text-align: left; /* LTR */

  color: #006;
  border-bottom: 1px solid #CCC;
}
[dir='rtl'] th {
  text-align: right;
}
tr:nth-child(odd) {
  background-color: #DDD;
}
tr:nth-child(even) {
  background-color: #FFF;
}
td {
  padding: 5px;
}
