#block-header-infomenu {

  justify-content: center;
  flex-direction: column;

  & > ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: auto 0;
    padding: 0;

    & > li {
      padding: 3px 10px;
    }
  }

  a {
    color: $secondary;
    font-size: 14px;

    @include hover-focus {
      color: $gray-800;
    }
  }
}
