
#block-headerphones {
  position: relative;
  height: 30px;

  .dropdown-base {
    top: 0;
    padding: 6px 0 5px 10px;
    z-index: 5;

    &::after {
      right: 0.5em;
      top: 1.05em;
    }

    &.expanded {
      &::after {
        top: 0.8em;
      }
    }

    a {
      font-size: 14px;
      font-weight: 300;
    }

    #btn-callback {
      a {
        @extend .btn;
        @extend .btn-outline-success;
      }
    }
  }
}
