
#block-headerphones {
  margin-left: -15px;

  @extend .col-sm-3;

  position: relative;
  height: 30px;

  .dropdown-base {
    padding: 12px 0 5px 15px;
    z-index: 5;

    &::after {
      right: 0.8em;
      top: 1.9em;
    }

    &.expanded {
      &::after {
        top: 1.55em;
      }
    }

    a {
      font-size: 1.2rem;
      font-weight: 300;
    }

    #btn-callback {
      a {
        @extend .btn;
        @extend .btn-outline-success;
      }
    }
  }
}
