@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ch26h2');
  src:  url('fonts/icomoon.eot?ch26h2#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ch26h2') format('truetype'),
    url('fonts/icomoon.woff?ch26h2') format('woff'),
    url('fonts/icomoon.svg?ch26h2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-treadmill:before {
  content: "\e90d";
}
.icon-weightlifting:before {
  content: "\e90c";
}
.icon-copy:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-delivery:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e90a";
}
.icon-shopping-cart:before {
  content: "\e90b";
}
.icon-smartphone:before {
  content: "\e911";
}
.icon-barbel:before {
  content: "\e915";
}
.icon-dumbbell:before {
  content: "\e924";
}
.icon-translation:before {
  content: "\e923";
}
.icon-customer:before {
  content: "\e918";
}
.icon-favorite:before {
  content: "\e919";
}
.icon-track:before {
  content: "\e91b";
}
.icon-email:before {
  content: "\e916";
}
.icon-location:before {
  content: "\e917";
}
.icon-login:before {
  content: "\e914";
}
.icon-facebook:before {
  content: "\e913";
}
.icon-link:before {
  content: "\e90e";
}
.icon-settings:before {
  content: "\e90f";
}
.icon-star:before {
  content: "\e910";
}
.icon-alert-circle:before {
  content: "\e909";
}
.icon-chevrons-sort:before {
  content: "\e907";
}
.icon-chevron-right:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e904";
}
.icon-arrow-right:before {
  content: "\e900";
}
.icon-chevron-down:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e912";
}
.icon-linkedin:before {
  content: "\e908";
}
